// Используются 2 режима отображения до 900px и после

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 100%;
  min-height: 48px;
  padding: 0 16px;
  background: var(--primary-color);
  box-shadow: var(--shadow-color);
  z-index: 3;
  top: 0;
  left: 0;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: inherit;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 80%;
  
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
  
      p {
        color: var(--font-color-white);
        font-family: "Press Start 2P", sans-serif !important;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 1rem;
      }
    }

    .desktop-menu {
      width: 100%;
      height: 100%;

      .navbar-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .navbar-nav {
          display: flex;
          flex-flow: row nowrap;
        }
      }
    }

    .mobile-menu {
      width: 100%;

      .navbar-wrapper {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;

        .navbar-menu {
          position: relative;
          float: right;
    
          .navbar-button {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            position: absolute;
            z-index: -10;
    
            &:not(:disabled):focus-visible + a {
              outline: 4px solid var(--ligth-blue);
              outline-offset: 1px;
              transition: outline-offset 0s, outline 0s;
            }
          }
        }
      }

      .dropdown-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--shadow-color);
        visibility: hidden;
        z-index: 50;
  
        .dropdown-content {
          position: relative;
          min-height: 100%;
          width: 100%;
          float: right;
          padding: 10px 16px;
          background: var(--primary-gradient);
          transform: translate(100vw);
          transform-origin: top right;
          transition: all .2s ease-in-out;

          &.active {
            transform: translate(0);
          }

          .navbar-wrapper {
            display: block;
            width: 100%;
            height: 100%;
            margin: 10px 0;
            border: 1px solid var(--font-color-white);
            border-radius: 5px;
            background: var(--primary-transparent);
      
            .navbar-nav {
              display: flex;
              justify-content: space-around;
              flex-direction: column;
              width: 100%;
    
              .nav-item {
                padding: 10px;
          
                &::after {
                  bottom: -1px;
                }
    
                &:hover::after{
                  visibility: visible;
                  bottom: 4px;
                }
    
                &.active::after {
                  bottom: 4px;
                }
              }
            }
          }
        }

        &.active {
          visibility: visible;
        }
      }
    }

    .nav-item {
      display: flex;
      align-items: center;
      position: relative;

      .nav-link {
        color: var(--font-color-white);
        font-weight: 700;
        padding: 0.5rem;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: var(--font-color-white);
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 2px;
        visibility: hidden;
        transition: 0.4s ease;
      }

      &:hover::after{
        visibility: visible;
        bottom: 4px;
      }

      &.active::after {
        position: absolute;
        background-color: var(--font-color-white);
        left: 0;
        bottom: 4px;
        width: 100%;
        height: 2px;
        visibility: visible;
      }
    }
  }
}

// Стили для настройки выпадающего списка

@media (min-width: 400px) {
  .dropdown-content {
    max-width: 330px;
  }
}

// Стили для выбора вида отображаемых навигационных элементов

@media (max-width: 899.98px) {
  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
}

@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }
}