.custom-form {
  max-width: 500px;

  .custom-input {
    margin: 20px 0 0 0;
    border-radius: 15px;
  
    input {
      height: 40px;
      font-size: 1.5rem;
      border-radius: 15px;
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 20px;
  }
}