<div class="content-wrapper">
  <div class="content-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="custom-form">
      <h1>Смена поля</h1>
  
      <div class="form-group">
        <div class="custom-input">
          <input type="password" class="form-control" formControlName="oldPassword" placeholder="Действующий пароль">
        </div>
        <app-validator-message [field]="passwordForm.get('oldPassword')"></app-validator-message>
      </div>
  
      <div class="form-group">
        <div class="custom-input">
          <input type="password" class="form-control" formControlName="newPassword" placeholder="Новый пароль">
        </div>
        <app-validator-message [field]="passwordForm.get('newPassword')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
        <input type="password" placeholder="Подтвердите новый пароль" formControlName="confirmPassword">
        </div>
        <app-validator-message [field]="passwordForm.get('confirmPassword')"></app-validator-message>
      </div>
      
      <button id="loginBtn" type="submit" class="btn primary">Сменить пароль</button>
    </form>
  </div>
</div>